---
import { groupBy } from "~/utils/groupBy";
import TrainersLayout from "../layouts/TrainersLayout.astro";
import type { PartData } from "../types";
import SiteHeader from "./SiteHeader.astro";

interface Props {
  title: string;
  description?: string;
  parts: PartData[];
  picture: ImageMetadata;
}

const { parts, title, description, picture } = Astro.props;

const groupedParts = groupBy(parts, ({ category }) => category);
---

<TrainersLayout title={title}>
  <SiteHeader slot="header" />
  <div class="contents-container">
    <h1 class="contents-title">{title}</h1>
    <div class="contents-picture">
      <img src={picture.src} alt={title} />
    </div>
    {description && <p class="contents-description" set:html={description} />}
    <a class="button contents-button" href={parts[0].url}>Начать тренажёр</a>
    <h2 class="sr-only">Содержание:</h2>
    <ul class="contents-list">
      {
        Object.entries(groupedParts).map(([category, categoryParts]) => (
          <li class="contents-category">
            <h3 class="contents-category-title">{category}</h3>
            <ul class="contents-category-parts">
              {categoryParts.map(({ url, shortTitle, title, type }) => (
                <li class:list={["contents-category-part", type]}>
                  <a href={url}>{shortTitle ?? title}</a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </div>
</TrainersLayout>

<style>
  .contents-container {
    max-width: min(900px, 100%);
    margin-inline: auto;
    margin-block: 2em;
  }

  .contents-title {
    margin-bottom: 2rem;
  }

  .contents-description {
    width: clamp(320px, 80vw, 900px);
  }

  .contents-picture {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--accent);
    box-shadow: var(--box-shadow);
  }

  .contents-picture img {
    width: min(320px, 100%);
    filter: invert(1);
  }

  .contents-button {
    margin: 1rem auto;
  }

  .contents-list {
    list-style: none;
    padding: 0;
  }

  .contents-category {
    margin-block: 1.5rem;
    position: relative;
    border-left: 3px solid rgba(170, 170, 170, 0.2);
    margin-left: -13px;
    padding-left: 10px;
  }

  .contents-category-title {
    font-size: var(--main-font-family);
    margin: 0;
    margin-bottom: 10px;
  }

  .contents-category-parts {
    list-style: none;
    padding: 0;
  }

  .contents-category-part::before {
    vertical-align: middle;
  }

  .contents-category-part.theory::before {
    content: "📖";
  }

  .contents-category-part.tutorial::before {
    content: "🧭";
  }

  .contents-category-part.challenge::before {
    content: "🧠";
  }
</style>
