---
import Breadcrumbs from "./Breadcrumbs.astro";

interface Props {
  mode?: "editor" | "content" | "default";
  breadcrumbs?: {
    url?: string;
    title: string;
  }[];
}

import icon from "../assets/icon-burder.svg";
import SocialLinks from "./SocialLinks.astro";
import logo from "../assets/logo.svg";
import { Image } from "astro:assets";

const iconPath = `url(${icon.src})`;
const iconWidth = `${icon.width}px`;
const iconHeight = `${icon.height}px`;

const { mode = "default", breadcrumbs } = Astro.props;
---

<header class="header">
  <a class="logo" href="/trainers">
    <Image src={logo} width={52} alt="" />
  </a>
  {
    (mode === "editor" || mode === "content") && (
      <Breadcrumbs breadcrumbs={breadcrumbs} />
    )
  }
  {
    mode === "editor" && (
      <button class="open-dialog">
        <span class="sr-only">Закрыть</span>
      </button>
    )
  }
  {(mode === "default" || mode === "content") && <SocialLinks type="dark" />}
</header>

<style
  define:vars={{
    iconPath,
    iconWidth,
    iconHeight,
  }}
>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .logo {
    text-decoration: none;
    color: inherit;
    font-size: 2.5rem;
    display: flex;
    flex-shrink: 0;
  }

  .open-dialog {
    border: none;
    background-color: transparent;
    color: inherit;
    transition: opacity 0.3s;
  }

  .open-dialog::before {
    content: "";
    display: block;
    width: var(--iconWidth);
    height: var(--iconHeight);
    background-image: var(--iconPath);
  }

  .open-dialog:hover {
    opacity: 0.7;
  }

  @media (prefers-color-scheme: light) {
    .logo {
      filter: invert(1);
    }
  }

  @media (prefers-color-scheme: dark) {
    .open-dialog {
      filter: invert(1);
    }
  }
</style>
